<!-- <div>
            <div>
                    <label>Choose File</label>
                    <input id="fileupload" [uploader]="uploader" type="file">
                    <button type="button" class="btn btn-dark"></button>
            </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="row card">
                <div class="col-sm-12">
                    <h2>File Upload</h2>
                    <div id="fileSelector">
                        <input type="file" name="fileupload"  multiple ng2FileSelect id="fileupload" [uploader]="uploader" (change)="onChange($event)" >
                    </div>
                </div>
                <div>
                    <div class="row uploadList">
                        <div class="col-sm-4">File Name</div>
                        <div class="col-sm-4">
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width: 20%"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button class="btn btn-dark >Upload</button>
                            <button type="button class="btn btn-danger >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

