<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="row card">
                <div class="col-sm-15">
                    <h2>File Upload</h2>
                    <div id="fileSelector">
                        <div class="form-group"> 
                            <label for="file">Choose File</label>
                            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                        </div>
                    </div>
                <div>
                    <div class="row uploadList">
                        <div class="col-sm-8">File Name</div>
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar bg-success" style="width: 20%"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button class="btn btn-dark >Upload</button>
                            <button type="button class="btn btn-danger >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div> -->
<div class="form-group">
    <label for="file">Choose File</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
</div>
<button type="button" (click)="upload()">Upload</button>