<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/user-453533-fdadfd.png" data-original-title="Usuario"> 
            </div>
            <div class="col-md-6">
                <strong>User Information</strong><br>
                <div class="table-responsive">
                <table class="table table-condensed table-responsive table-user-information">
                    <tbody >
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    First Name                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.first_name}}      
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Last Name                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.last_name}}      
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Mobile No                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.Mobile_No}}   
                            </td>
                        </tr>    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Role                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.role_id.role_name}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.email}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    created                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.created_date | date }} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Gender                                                
                                </strong>
                            </td>
                            <td class="text-primary" *ngIf="user">
                                {{user.gender}} 
                            </td>
                        </tr>                                    
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>   