<div class="card m-3">
    <h2 class="card-header">Registration Form</h2>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-6">
                    <label>First Name</label>
                    <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required">First Name is required</div>
                        <div *ngIf="f.first_name.errors.minlength">First Name must be at least 5 characters</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Last Name</label>
                    <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                        <div *ngIf="f.last_name.errors.minlength">Last Name must be at least 5 characters</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    <label>Gender</label>
                    <select formControlName="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Fe-Male">Fe-Male</option>
                    </select>
                    <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Gender is required</div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>Mobile Number</label>
                    <input type="tel" formControlName="Mobile_No" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mobile_No.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.Mobile_No.errors.required">Mobile Number is required</div>
                        <div *ngIf="f.Mobile_No.errors.minlength">Mobile Number must be at least 10 Number</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-6">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label>Role</label>
                <select formControlName="role_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }">
                    <option value="">Select any Role</option>
                    <option value="{{item._id}}" *ngFor="let item of role">{{item.role_name}}</option>
                </select>
                <div *ngIf="submitted && f.role_id.errors" class="invalid-feedback">
                    <div *ngIf="f.role_id.errors.required">Role is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label>Resume</label>
                <input type="file" class="form-control" (change)="handleFileInput($event.target.files)"/>
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div> -->
            </div>
        </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1" type="submit">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
</div>