<div class="container text-center" >
    <h1>Password Reset</h1>
</div>
    <div class="container" >
         <div class="row">
             <div class="col-12">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row justify-content-center">
                         <div class="col-3">
                            <div class="form-group">
                             <label>Email</label>
                             <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                             </div>
                             </div>
                         <div class="form-group">
                          <label>Password</label>
                          <input [type]="password_type" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                          <input type="checkbox" (click)="showPass()"/><label>Show Password</label>
                         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                   </div>
                   <div class="form-group pass_show">
                    <label>Confirm Password</label>
                    <input [type]="password_type1" formControlName="confirm_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                    <input type="checkbox" (click)="showPass1()"/><label>Show Password</label>
                   <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirm_password.errors.minlength">Confirm Password must be at least 6 characters</div>
                  </div>
                </div>
                   <div >
                    <div class="text-center">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                   </div>
                </div>
             </div>
         </div>
            </form>
        </div>
    </div>
</div>
